.container {
  padding-left: calc((100% - 900px)/2);;
  padding-right: calc((100% - 900px)/2);
}

.equipos__tabla {
  max-width: 900px;
  width: 100%;
}

.equipos__tabla__encabezado, .equipos__tabla__registro {
  text-align: left;
  padding: 1rem;
  padding-left: 0.4rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.equipos__tabla__registros:nth-child(even) {
  background-color: #dddddd;
}

.equipos__tabla__encabezados {
  font-size: 1.5rem;
  font-weight: bold;
}

.equipos__tabla__registros {
  font-size: 1.1rem;
}

.titulo {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.registrar {
  margin: 0.6rem 0 0.6rem 0;
}

.registrar__conteo {
  margin-right: 0.5rem;
}

.boton__estilos {
  box-sizing: border-box;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  cursor: pointer;
}

/**/

.oculto {
  display: none;
}

.equipo__escudo__imagen {
  height: 100%;
  width: 100%;
}

.equipo__escudo__nombre {
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
  font-weight: bold;
}

.equipo__tabla {
  width: 500px;
}

.equipo__tabla__encabezados {
  font-weight: bold;
}

.equipo__escudo {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipo__tabla__encabezado, .equipo__tabla__registro {
  text-align: left;
  padding: 1rem;
  padding-left: 0.4rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.equipo__tabla__registros:nth-child(even) {
  background-color: #dddddd;
}

.section__equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipo__tabla__botones {
  margin-top: 1rem;
}