.container {
  padding-left: calc((100% - 900px)/2);;
  padding-right: calc((100% - 900px)/2);
}

.tabla {
  max-width: 900px;
  width: 100%;
}

.tabla__encabezado, .tabla__registro {
  text-align: left;
  padding: 1rem;
  padding-left: 0.4rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.tabla__registros:nth-child(even) {
  background-color: #dddddd;
}

.tabla__encabezados {
  font-size: 1.5rem;
  font-weight: bold;
}

.tabla__registros {
  font-size: 1.1rem;
}